body{
    background-image: url(/static/img/bg-weather.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.w-card{
    border-radius: 15px;
    background-color: #12121240 !important;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 3% 1%;
}

.w-card *{
    margin: 0%;
}
.w-card > *{
    margin-top: 10px;
}
.w-card p{
    color: #ffffffd1;
    font-size: 0.7em;
    }
    .w-card h3{
        font-size: 00.8em;
    }
    .w-card h1{
        font-size: 2.3em;
    }
    .w-card h5{
        font-size: 0.9em;
    }
    .w-flex{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .w-img{
        width: 150px;
        height: 150px;
    }
    .w-img img{
        width: 100%;
        /* height: 100%; */
    }
@media screen and (max-width: 575.98px) {
    .w-card{
        font-size: 1rem;
    }
    .w-img{
        width: auto;
        height: auto;
    }
}
