@font-face {
    font-family: segoe-ui;
    src: url(../fonts/SEGOEUI.TTF);
}


body{
    background-image: url(/static/img/bg-weather-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav, footer{
    background-image: url(/static/img/bg-weather-2.jpg);
    background-repeat: no-repeat;
}
div.container{
    font-family: segoe-ui,  sans-serif !important;
}

.w-card{
    border-radius: 15px;
    background-color: #121212af !important;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 3% 1%;
}

.w-card *{
    margin: 0%;
}
.w-card > *{
    margin-top: 10px;
}
.w-card p{
    color: #ffffffd1;
    font-size: 0.7em;
    }
    .w-card h3{
        font-size: 00.8em;
    }
    .w-card h1{
        font-size: 3em;
    }
    .w-card h5{
        font-size: 0.68em;
    }

    .w-flex{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .w-img{
        width: 150px;
        height: 150px;
    }
    .w-img img{
        width: 100%;
        /* height: 100%; */
    }

@media screen and (max-width: 991.98px) {
    .w-card{
        font-size: 1.5rem;
    }
    .w-card h1{
        font-size: 2.8em;
    }
}
@media screen and (max-width: 575.98px) {
    .w-card{
        font-size: 1rem;
    }
    .w-card h1{
        font-size: 2.5em;
    }
    /* .w-card h5{
        font-size: 0.7em;
    } */

    .w-img{
        width: auto;
        height: auto;
    }
}
